.new-area {
    max-width: 300px;
}


.new-permission {
    max-width: 300px;
}


.new-role {
    max-width: 300px;
}


.permissions {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    max-height: 400px;
    justify-content: space-around;
}

.permissions p {
    display: flex;
    text-transform: capitalize;
}


.label-text {
    display: block;
    text-align: left;
}

select {
    display: block;
}
