.new-area, .new-permission, .new-role, .new-branch {
    max-width: 300px;
}

.permissions {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    max-height: 400px;
    justify-content: space-around;
}

.permissions p {
    display: flex;
    text-transform: capitalize;
}


.label-text {
    display: block;
    text-align: left;
}

select {
    display: block;
}


//reports styles
.report {
    min-width: 1100px;
    max-height: 1100px;
    display: inline-block;
    margin-top: 15px;

    //first-row
    .controls {
        min-width: 500px;
        display: flex;

        .selectOption {
            min-width: 200px;
        }
    }

    //second-row
    .datesFilter {
        max-width: 200px;
        display: flex;
        padding: 10px;

        .option {
            padding: 10px;
        }
        .datesControlsBtn {
            cursor: pointer;
            padding: 30px;
        }
        .feedback {
            min-width: 200px;
            padding-top: 30px;
        }
    }

    //third-row
    .report-content {
        max-width: 1000px;
    }   
}




