 $myColor: #bed860;

 .nav-wrapper {
     background-color: teal;
 }
 .logo {
    float:left;
    // font-size: 3.5em;
    margin: auto 80px;
    color: #f3f3f3;
}

.nav-items {
    .nav-item {
        font-size: 1.5em;;
    }

    .active {
        background-color: #ffdddd;
    }
}

.nav-items .btn-small {
    font-size: 1em;
}