 $myColor: #bed860;

 .nav-wrapper {
     background-color: teal;
 }
 .logo {
    float:left;
    margin: auto 50px;
    color: #f3f3f3;
}

.nav-items {
    .nav-item {
        font-size: 1em;
        float: right;
    }

    .active {
        background-color: #ffdddd;
    }
}

.nav-items .btn-small {
    font-size: 1em;
}